<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body >
  <!-- Top Container -->
<div class="top-container">
  <h1 class="first-h1">Social Media Dashboard</h1>
  <p class="total-followers-p">Total Followers: 23,004</p>
</div>

<!-- End Of Top Container -->

<!-- Start of Dark Mode Container -->

<div class="dark-mode-container">
  <p>Dark Mode</p>
  <div class="toggle-switch">
    <input type="checkbox" id="toggle" (change)="toggleLightMode($event)" />
    <label for="toggle"></label>
  </div>
</div>


<!-- End of Dark Mode Container -->

<!-- 
Start Of Grid Section -->

<div class="grid">

  <!-- FaceBook Container -->
<div class="grid-container-1">
<div class="grid-flex">
  <div class="social-icon-and-text">
    <img src="icon-facebook.svg" alt="" class="social-media-icon-img">
    <p class="corey-p">coreywiththeskills</p>
  </div>
  <h1 class="biggest-h1">1987</h1>
  <p class="followers-text">FOLLOWERS</p>
  <div class="up-icon">
    <img src="icon-up.svg" alt="" class="up-icon-img">
  <h6 class="green-h6">12 Today</h6>
  </div>
</div>
</div>
 <!-- End Of Facebook Container -->

  <!-- Twitter Container -->

<div class="grid-container-2">
  <div class="grid-flex">
    <div class="social-icon-and-text">
      <img src="icon-twitter.svg" alt="" class="social-media-icon-img">
      <p class="corey-p">coreywiththeskills</p>
    </div>
    <h1 class="biggest-h1">1044</h1>
    <p class="followers-text">FOLLOWERS</p>
    <div class="up-icon">
      <img src="icon-up.svg" alt="" class="up-icon-img">
    <h6 class="green-h6">99 Today</h6>
    </div>
  </div>
</div>

 <!-- End of Twitter Container -->

<!-- 
 Instagram Container -->
<div class="grid-container-3">
  <div class="grid-flex">
    <div class="social-icon-and-text">
      <img src="icon-instagram.svg" alt="" class="social-media-icon-img">
      <p class="corey-p">coreywiththeskills</p>
    </div>
    <h1 class="biggest-h1">11K</h1>
    <p class="followers-text">FOLLOWERS</p>
    <div class="up-icon">
      <img src="icon-up.svg" alt="" class="up-icon-img">
    <h6 class="green-h6">1099 Today</h6>
    </div>
  </div>
</div>

<!-- End Of
 Instagram Container -->

<!-- Youtube Container -->

<div class="grid-container-4">
  <div class="grid-flex">
    <div class="social-icon-and-text">
      <img src="icon-youtube.svg" alt="" class="social-media-icon-img">
      <p class="corey-p">coreywiththeskills</p>
    </div>
    <h1 class="biggest-h1">8239</h1>
    <p class="followers-text">FOLLOWERS</p>
    <div class="up-icon">
      <img src="icon-down.svg" alt="" class="up-icon-img">
    <h6 class="red-h6">144 Today</h6>
    </div>
  </div>
</div>
</div>

<!-- End Youtube Container -->

<h1 class="h1-middle" id="1">Overview - Today</h1>

<div class="grid-2">

  <div class="grid-2-container-1">
  <div class="left-side">
    <p>Page Views</p>
    <h2 class="h2">87</h2>
  </div>
  <div class="right-side">
    <img src="icon-facebook.svg" alt="">
     <div class="grid-2-down-arrow">
      <img src="icon-up.svg" alt="" id="test">
      <h6 class="bottom-grid-h6-up">3%</h6>
    </div>
      
  </div>
 </div>

 <div class="grid-2-container-1">
  <div class="left-side">
    <p>Likes</p>
    <h2 class="h2">52</h2>
  </div>

  <div class="right-side">
    <img src="icon-facebook.svg" alt="">
    <div class="grid-2-down-arrow">
      <img src="icon-down.svg" alt="" id="test">
      <h6 class="bottom-grid-h6-down">2%</h6>
    </div>
    
  </div>
  
 </div>

 <div class="grid-2-container-1">
  <div class="left-side">
    <p>Profile Views</p>
    <h2 class="h2">52K</h2>
  </div>
  <div class="right-side">
    <img src="icon-instagram.svg" alt="">
    <div class="grid-2-down-arrow">
      <img src="icon-up.svg" alt="" id="test">
      <h6 class="bottom-grid-h6-up">1375%</h6>
    </div>
    
  </div>
 </div>

 <div class="grid-2-container-1">
  <div class="left-side">
    <p>Likes</p>
    <h2 class="h2">5462</h2>
  </div>
  <div class="right-side">
    <img src="icon-instagram.svg" alt="">
    <div class="grid-2-down-arrow">
      <img src="icon-up.svg" alt="" id="test">
      <h6 class="bottom-grid-h6-up">2257%</h6>
    </div>
  </div>
 </div>

 <div class="grid-2-container-1">
  <div class="left-side">
    <p>Retweets</p>
    <h2 class="h2">117</h2>
  </div>
  <div class="right-side">
    <img src="icon-twitter.svg" alt="">
    <div class="grid-2-down-arrow">
      <img src="icon-up.svg" alt="" id="test">
      <h6 class="bottom-grid-h6-up">303%</h6>
    </div>
  </div>
 </div>

 <div class="grid-2-container-1">
  <div class="left-side">
    <p>Likes</p>
    <h2 class="h2">507</h2>
  </div>
  <div class="right-side">
    <img src="icon-twitter.svg" alt="">
    <div class="grid-2-down-arrow">
      <img src="icon-up.svg" alt="" id="test">
      <h6 class="bottom-grid-h6-up">553%</h6>
    </div>
  </div>
 </div>

 <div class="grid-2-container-1">
  <div class="left-side">
    <p>Total Views</p>
    <h2 class="h2">1407</h2>
  </div>
  <div class="right-side">
    <img src="icon-youtube.svg" alt="">
    <div class="grid-2-down-arrow">
      <img src="icon-down.svg" alt="" id="test">
      <h6 class="bottom-grid-h6-down">12%</h6>
    </div>
  </div>
 </div>

 <div class="grid-2-container-1">
  <div class="left-side">
    <p>Likes</p>
    <h2 class="h2">107</h2>
  </div>
  <div class="right-side">
    <img src="icon-youtube.svg" alt="">
    <div class="grid-2-down-arrow">
      <img src="icon-down.svg" alt="" id="test">
      <h6 class="bottom-grid-h6-down">19%</h6>
    </div>
  </div>
 </div>



</div>

<!-- 
End Of Grid Section -->

</body>
</html>